* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sens {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}
/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 16px 120px 16px 120px;
}

.menu-section ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 32px;
}

.button-section {
  background-color: #30b868;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.button-section:hover {
  background: #f95555;
}

/* hero */

.hero-overlay {
  background: rgba(10, 30, 50, 0.75);
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/hero-bg.png');
  background-repeat: no-repeat;
}

.hero-content {
  text-align: center;
}

.hero-badge {
  display: inline-block;
  background: white;
  padding: 8px 18px;
  color: #00d559;
  border-radius: 1000px;
  margin-bottom: 18px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 18px;
  color: white;
}
.white {
  color: #30b868;
}
.hero-content p {
  max-width: 720px;
  margin: 0 auto 32px auto;
  color: white;
}
.btn-green {
  background: #30b868;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
.btn-green:hover {
  background: #f95555;
}
.btn-outline {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 14px 28px;
  border-radius: 6px;
}

/* Note Content */
.Notes {
  padding: 80px 120px;
  background: white;
}

.notes-heading {
  text-align: center;
  max-width: 1360px;
  margin: 0 auto 44px;
}

.notes-heading h1 {
  font-weight: 700;
  margin-bottom: 16px;
}

.notes-heading p {
  font-size: 16px;
  font-weight: 400;
}

.mark {
  display: flex;
  gap: 24px;
}

.mark > div {
  height: 300px;
  width: 322px;
  padding: 40px 28px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}
.icon {
  width: 60px;
  height: 60px;
  background: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}
.icon img {
  width: 32px;
}

.mark h1 {
  width: 274px;
  height: 29px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.mark p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 16px;
  color: #627382;
  max-width: 240px;
  margin: 0 auto;
}
/* Solution Content */

.solution {
  padding: 120px;
  padding-top: 20px;
}

.solution-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.solution-left img {
  width: 600px;
  height: 600px;
}

.solution-tag {
  color: #469165;
  font-size: 16px;
  font-weight: 500;
}

.solution-right h2 {
  font-size: 48px;
  color: #001931;
  gap: 16;
}

.solution-right p {
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 40px;
  max-width: 700px;
}

.solution-list {
  list-style: none;
  padding-left: 0;
  margin-top: 36px;
}

.solution-list li {
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 16px;
  line-height: 36px;
  color: #0f172a;
  margin-bottom: 20px;
}

.solution-list img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

/* cta section */
.cta {
  padding: 120px;
  background: #f7f6f2;
  margin: 2px 120px 120px 120px;
  border-radius: 12px;
}

.cta-container {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.cta h2 {
  font-size: 40px;
  color: #001931;
  margin-bottom: 0px;
}

.cta-sub {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.cta-btn {
  background: #469165;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 16px;
}
.cta-btn:hover{
  background: #f95555;
}


.cta-small {
  font-size: 16px;
  color: #627382;
}

/* Footer Section */

.footer {
  background: #001931;
  padding: 120px 120px 120px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left img {
  width: 139px;
}

.footer-right p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #c9d4df;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons i {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
