* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sens {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 16px 120px 16px 120px;
}

.menu-section ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 32px;
}

.button-section {
  background-color: #30b868;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
