* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sens {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}
/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 16px 120px 16px 120px;
}

.menu-section ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 32px;
}

.button-section {
  background-color: #30b868;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

/* hero */

.hero-overlay {
  background: rgba(10, 30, 50, 0.75);
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/hero-bg.png');
}

.hero-content {
  text-align: center;
}

.hero-badge {
  display: inline-block;
  background: white;
  padding: 8px 18px;
  color: #00d559;
  border-radius: 1000px;
  margin-bottom: 18px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 18px;
  color: white;
}
.white {
  color: #30b868;
}
.hero-content p {
  max-width: 720px;
  margin: 0 auto 32px auto;
  color: white;
}
.btn-green {
  background: #30b868;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
.btn-outline {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 14px 28px;
  border-radius: 6px;
}

.Notes {
  padding: 80px 120px;
  background: white;
}

.notes-heading {
  text-align: center;
  max-width: 1360px;
  margin: 0 auto 44px;
}

.notes-heading h1 {
  font-weight: 700;
  margin-bottom: 16px;
}

.notes-heading p {
  font-size: 16px;
  font-weight: 400;
}

.mark {
  display: flex;
  gap: 24px;
}

.mark > div {
  height: 300px;
  width: 322px;
  padding: 40px 28px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}
.icon {
  width: 60px;
  height: 60px;
  background: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}
.icon img {
  width: 32px;
}

.mark h1 {
  width: 274px;
  height: 29px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.mark p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 16px;
  color: #627382;
  max-width: 240px;
  margin: 0 auto;
}
